---
import { sections, logo } from "../../somdocs.config.json";
import List from "./List.astro";
import SearchBtn from "./SearchBtn.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MoonIcon from "../icons/MoonIcon.astro";
import MenuIcon from "../icons/MenuIcon.astro";
import "../styles/somdocs.style.css";
type DefaultSection = {
  name: string;
  url: string;
  show_arrow: boolean;
};

type Props = {
  defaultSections?: DefaultSection[];
};

const {
  defaultSections = [
    { name: "Home", url: "/", show_arrow: false },
    { name: "Docs", url: "docs", show_arrow: false },
  ],
} = Astro.props as Props;
const { contents } = sections;
const keys = Object.keys(logo);
---

<nav
  class="w-full bg-[#101012] p-2 border-b border-gray-700/50 text-white flex justify-between items-center"
>
  <!-- Left Side -->
  <div
    class="flex items-center gap-5 max-[900px]:w-full max-[900px]:justify-between"
  >
    <!-- Logo and Sections -->
    {
      (
        <a id="logo-text" href="/" class="flex items-center gap-2">
          <img id="logo-icon" src={logo.icon} />
          {logo.text}
        </a>
      )
    }
    <ul class="flex gap-2 max-[900px]:hidden">
      {
        contents && contents.length > 0
          ? contents.map((section: DefaultSection) => (
              <List
                id="section"
                url={section.url && section.url}
                show_arrow={section.show_arrow}
              >
                {section.name && section.name}
              </List>
            ))
          : defaultSections.map((default_section) => (
              <List
                id="section"
                url={default_section.url}
                show_arrow={default_section.show_arrow}
              >
                {default_section.name}
              </List>
            ))
      }
    </ul>
    <!-- Menu -->
    <button class="hidden max-[900px]:block text-slate-300 cursor-pointer">
      <MenuIcon width="30" height="30" />
    </button>
  </div>
  <!-- Right Side -->
  <div class="flex gap-2 items-center max-[900px]:hidden">
    <!-- Search Button -->
    <SearchBtn />
    <!-- Theme & github icon -->
    <div class="flex gap-3 items-center">
      <button class="cursor-pointer">
        <MoonIcon width="20" height="20" />
      </button>
      <a href="">
        <GithubIcon width="20" height="20" />
      </a>
    </div>
  </div>
</nav>
